<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    <h3>Book ID: {{book.id}}</h3>
    <h3>Book Name: {{book.title}}</h3>
    <h3>Description: {{book.description}}</h3>
    <h3>Authors:</h3>
    <ul>
        {% for x in book.authors_of_book.all%}
            <li>{{x.name}}</li>
        {% endfor %}
    </ul>
    <form action="/book/add/{{book.id}}" method="POST">
        {% csrf_token %}
        <select name="authors">
            {% for author in all_authors %}
                <option value={{author.id}}>{{author.name}}</option>
            {% endfor %}
        <input type="submit" value="Add">
        </select>
    </form>
</body>
</html>